.itemList {
    list-style: none;

    margin: 0;
    padding: 0;

    width: auto;

    height: 100vh;
    overflow: scroll;
}

.itemWarper {
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
}

.itemBasicInfo {
    display: flex;
    flex-wrap: wrap;
}

.itemThumbnail {
    width: 5em;
    height: 5em;
}

.itemName {
    margin-top: 0;
    margin-left: 1em;
}

.itemAddToCart {
    margin-bottom: 0;
    margin-left: auto;

    align-self: flex-end;
}



#openCartButton {
    position: fixed;
    bottom: 2em;
    right: 2em;

    z-index: 100;

}

#cartItemList {
    display: none;
    position: fixed;

    background-color: rgb(211, 211, 211);

}

#cartItemList .itemWarper .itemDescription {
    display: none;
}

#cartItemList .itemWarper .itemBasicInfo .itemAddToCart .itemAddToCartButton {
    display: none;


}



@media screen and (max-width: 800px) {
    #cartItemList {
        width: 100vw;
        top: 0;
        left: 0;
    }

    #openCartButton {
        position: fixed;
        bottom: 0.5em;
        right: 0.5em;
    
    }
}


@media screen and (min-width: 800px) {
    

    main {
        display: flex;
        align-items: stresh;
    }
    
    #cartItemList {
        width: auto;
        position: inherit;
    }
    
    #shopItemList {
        flex: 1;
        
    }
    
    
    
    #openCartButton {
        position: fixed;
        bottom: 0.5em;
        right: 0.5em;
    
    }
}